* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* --text-color: #1e5f8d; */
  --text-color: #2c4964;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5% 0;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* main */

main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1592671963996-0b4616e9f042?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f1f7fc;
}

.covid-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.covid-container > h1 {
  text-align: center;
  font-size: 4em;
}

.covid-container > p {
  text-align: center;
  font-size: 1.5em;
}

.covid-card-container {
  width: 80%;
  height: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.covid-card {
  width: 22%;
  height: 150px;
  padding: 3%;
  color: #2c4964;
  background-color: #f1f7fc;
  border-radius: 10px;
}

.covid-card-number {
  display: flex;
}

.covid-card-number > h2 {
  font-size: 3em;
  margin-right: 2%;
}

.covid-card-number > p {
  margin-bottom: 5%;
  font-size: 1.5em;
}

.covid-card > h3 {
  font-size: 1.5em;
}

/* footer */

footer {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* bottom: 0; */
  background-color: #f1f7fc;
  padding: 2%;
}

footer h2 {
  text-align: center;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Mobile landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/* tablet ipad (potrait) */
@media (min-width: 768px) and (max-width: 1023px) {
}
